<h1>Words and Definitions</h1>

<a href="/word/new"><button type="button" class="btn btn-success">Add a Word</button></a>
<a href="/word/sort"><button type="button" class="btn btn-success">Sort (A to Z)</button></a>
<a href="/word/sort"><button type="button" class="btn btn-success">Find a Word</button></a>
