<h1>Words and Definitions</h1>

<div class="panel panel-default">
  <div class="planel-body">

    <ul>
    <% @words.each do |word| %>
      <li><a href="/word/<%= word.id() %>"><%= word.word() %></a></li>
    <% end %>
    </ul>

  </div>
</div>


<a href="/new/word"><button type="button" class="btn btn-default btn-lg">Add a Word</button></a>
<a href="/sort/words"><button type="button" class="btn btn-default btn-lg">Sort (A to Z)</button></a>
<a href="/search/word"><button type="button" class="btn btn-default btn-lg">Search for a Word</button></a>
