<h3>Add a New Word</h3>

<form action="/add/word" method="post">
    <div class="form-group">
      <label for="word">Enter a Word:</label>
      <input type="text" name="word" id="word" class="form-control">
    </div>
    <button type="submit" name="button" class="btn btn-primary btn-lg">Add Word</button>
</form>
