<h1>Search for a Word</h1>

<form action="/search/for/word" method="post">
    <div class="form-group">
      <label for="search">Enter a Word to Search For:</label>
      <input type="text" name="search" id="search" class="form-control">
    </div>
    <button type="submit" name="button" class="btn btn-default btn-lg">Search for Word</button>
</form>
