<h1><%= @current_word.word() %></h1>

<ol>

  <% @definitions.each do |definition| %>
    <li><%= definition.definition() %> (<i><%=definition.part_of_speech()%></i>)</li>
  <% end %>

</ol>


<a href="/definition/new/<%= @current_word.id() %>" ><button type="button" class="btn btn-default btn-lg">Add a Definition</button></a>
